@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    --main-color: black;
    --accent-color: rgb(50, 206, 211);
}

img {
    display: block;
    width: 100%;
}